body {
    background-image: linear-gradient(to right bottom, #351732, #341237, #320e3c, #2e0b43, #26094a, #270b4d, #290e4f, #2a1052, #361751, #3f1f50, #46274f, #4c2f4f);
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    background-attachment: fixed;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
}

#title {
    display: flex;
    justify-content: center;
    align-content: center;
}

#title h1 {
    font-family: 'Borel', cursive;
    font-size: 3em;
}

.head-img {
    display: flex;
    justify-content: center;
}

figure {
    margin-top: -50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#image {
    width: 50%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

#img-caption {
    width: 50%;
    text-align: center;
}

#tribute-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tribute-info h2 {
    font-size: 2.5em;
}

.introduction {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.other-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.other-info article {
    width: 70%;
    display: flex;
    gap: 5em;
    margin-bottom: 3em;
}

.other-info .lef {
    flex-direction: row-reverse;
}

article .info-img {
    width: 50%;
}

.info {
    width: 70%;
}

.info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


#tribute-link {
    text-align: center;
}

#tribute-link a {
    color: black;
}

footer {
    text-align: center;
}

@media (width <=1000px) {
    #title h1 {
        font-size: 2em;
        text-align: center;
    }

    #tribute-info h2 {
        font-size: 1.7em;
    }

    .introduction {
        width: 100%;
    }

    .other-info article {
        width: 100%;
        display: block;
        text-align: center;
    }

    article .info-img {
        width: 70%;
        margin: auto;
    }

    .info {
        width: 100%;
    }


}

@media (width <=700px) {
    figure #image {
        min-width: 100%;
    }
}