body {
    background-image: linear-gradient(to right bottom, #351732, #341237, #320e3c, #2e0b43, #26094a, #270b4d, #290e4f, #2a1052, #361751, #3f1f50, #46274f, #4c2f4f);
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
}

#title {
    display: flex;
    justify-content: center;
    align-content: center;
}

#title h1 {
    font-family: 'Borel', cursive;
    font-size: 3em;
}

.head-img {
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    align-items: center;
    flex-direction: column;
}

figure #image {
    width: 40%;
    object-fit: cover;
    display: inline;
}

#img-caption {
    width: 50%;
    text-align: center;
}

#tribute-info {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tribute-info h2{
    font-size: 2.5em;
}

.introduction{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

hr {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    text-align: center;
}